header {
    width: 100%;
    padding: 18px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-btn-color);
    color: var(--text-color);
    box-shadow: var(--header-shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.logo p {
    font-family: "Playwrite NZ Basic", cursive;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

svg {
    width: 26px;
    height: 26px;
    fill: var(--text-color);
    transition: fill 0.3s ease;
    cursor: pointer;
}

.logo svg path {
    fill: var(--icon-fill) !important;
    transition: fill 0.3s ease;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btns button {
    height: 36px;
    width: 100%;
    padding-inline: 16px;
    border: 1px solid #4b078a;
    background: var(--hover);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 14px;
    border: none;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s;
}

.btns button:hover {
    letter-spacing: 2px;
    transform: scale(1.002);
    filter: brightness(1.1);


    box-shadow: 0 15px 25px -2px rgba(0, 0, 0, 0.3);
}

button.active {
    background: var(--hover-col) !important;
    letter-spacing: 2px;
    transform: scale(1.06);
    filter: brightness(1.4);
    border: 1px solid rgb(25, 0, 255) !important;

}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:22px;
}

@media screen and (max-width:520px) {
    .logo p {
        display: none;
    }

    header {
        padding: 18px 12px;
    }
    .btns button{
        padding-inline: 10px;
    }
}