footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:16px 24px;
    background-color:var(--bg-btn-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Playwrite NZ Basic", cursive; 
    font-size: 14px;
}
.col{
    color:rgb(70, 94, 200);
}

@media screen and (max-width:520px){
   
    footer{
        padding:16px 12px!important;
    }
    p{
        font-size: 12px!important;
    }
}

@media screen and (max-width:1100px){
    .col{
        display: none;
    }
    footer{
        padding:16px 18px;
    }
    p{
        font-size: 18px;
    }
}