.modal {
    width:40%;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--bg-btn-color);
    border-radius: 24px; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

}
.dashboard{
    transition: 0.3s;
}

.blur {
    filter: blur(8px);
    pointer-events: none; }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9998;
}


.modal h2 {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-family: "Playwrite NZ Basic", cursive;
    background: linear-gradient(135deg, var(--text-color) 30%, #961900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


input {
    width: 100%;
    padding: 6px 20px;
    border-radius: 12px;
    background: linear-gradient(135deg, rgba(219, 99, 99, 0.05) 0%, rgba(148, 3, 3, 0.158) 100%);
    border: 1px solid rgba(198, 95, 95, 0.3);
    color: var(--text-color);
    font-family: inherit;
    font-size: 1.1rem;
    text-align: center;
    outline: none !important;
    transition: all 0.3s ease;
    font-size: 20px;
    font-family: cursive;
}


input::placeholder {
    background: linear-gradient(135deg, var(--text-color) 30%, #830202 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.7; 
}

input:focus {
    background: linear-gradient(135deg, rgba(254, 40, 40, 0.1) 0%, rgba(103, 6, 6, 0.2) 100%);
    border-color: #af0404;
    box-shadow: 0 0 15px rgba(238, 101, 101, 0.2);
    transform: scale(1.02);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal button{
      background:var(--hover);
    color: var(--bg-color);
    border: none;
    width: 100%;
    height: 42px;
    border-radius: 6px;
    border:none;
    transition: 0.3s;
    font-family: cursive;

  
}
.modal button:hover{
    background:var(--hover-col);
      letter-spacing: 3px;
    transform: scale(1.002);
    filter: brightness(1.1);
    box-shadow: 0 15px 25px -2px rgba(0, 0, 0, 0.3);
}

.dashboard.blur{
   filter: blur(8px);    
    opacity: 0.3; 
    background: rgba(0, 0, 0, 0.588);
    pointer-events: none; 
}
.cards{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin:auto;
    margin-top: 40px;
}
.card1{
    background-color: var(--bg-btn-color);
    border-radius: 12px;
    padding:20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;

}
.card1 p{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;
      font-family: "Playwrite NZ Basic", cursive; 
}
.amount{
    font-size: 26px!important;
    font-weight: 600!important;
    font-family: "Playwrite NZ Basic", cursive;
    background: linear-gradient(135deg, var(--text-color) 30%, #7b0202 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.main{
    width: 80vw;
    height:100%;
    margin: auto;
    margin-top: 80px;
    gap: 32px;
    margin-bottom: 220px;
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.transactions-table {
  background: var(--bg-btn-color);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}
.tableDiv{
    width: 70%;}



.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  1fr 1fr;
  padding: 1rem;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1.2rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  align-items: center;
  transition: 0.2s;
}

.table-row:hover {
  background: var(--bg-color);
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background: #ff4d4d; 
}

.status-dot.income {
  background: #4dff4d;
}

.category-tag {
  background: rgba(12, 111, 255, 0.15);
  color: #0c6fff;
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 13px;
}


.expense-text { color: #ff4d4d; }
.add-btn{
    background: var(--hover);
      color: rgb(255, 255, 255);
    border: none;
    width: 20%;
    height: 38px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    font-family:cursive;
}

.filters{
    width: 80%;
    margin: auto;
    margin-bottom: 6px;

}


.add-btn:hover{
        transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(226, 165, 161, 0.3);
    background: var(--hover-col);
}



.grapics{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
   
}
.chart-container, .chart-container2 {
    background: var(--bg-btn-color);
    border-radius: 12px;
    padding: 20px;
    height: 300px;  
    margin-top: 60px;
}

canvas{
    width: 90% !important;
    height: 90% !important;
    margin:auto;
    object-fit: contain;
}

.stats-summary{
  width: 30%; 
    background: var(--bg-btn-color);
    
    border-radius: 12px;
    text-align: center;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
   min-height:100% !important;

    
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: var(--scale);
}

.stats-summary {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    margin-top: 20px;
    gap:12px;
}
.stats-summary p {
    margin: 0;
    font-size: 18px;
      font-family: "Playwrite NZ Basic", cursive; 
    line-height: 150%;
    color: var(--text-color);
    opacity: 0.8;
}

.download-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--hover); 
      color: rgb(255, 255, 255);
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.download-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(223, 154, 154, 0.3);
    background: var(--hover-col);
}

.download-btn svg {
    stroke-width: 2.5px;
}
.removbtn svg:hover{
    fill: #fd0505;
    transform: scale(1.2);
    transition: 0.3s;
}



.filter-container {
  display: flex;
  gap: 10px;
  background:var(--bg-btn-color);
  padding: 8px;
  border-radius: 12px;
  width: fit-content;
}

.filter-container button {
  background: transparent;
  border: none;
  color: #b3b0ab;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.filter-container button.active {
  background: #620801; 
  color: white;
  box-shadow: 0 4px 12px rgba(229, 120, 70, 0.3);
}

.filter-container button:hover:not(.active) {
  background: rgba(255, 255, 255, 0.1);
  color: rgb(255, 254, 254);
}
.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
     width: 100%;
}
.filter-container{
  display: flex;
    align-items: center;
    justify-content: center;   
}
.no-data{
    text-align: center;
    font-size: 16px;
    font-family: cursive;
    opacity: 0.7;
    margin:16px;
}


@media screen and (max-width:560px){

    .stats-summary p{
    
        font-size: 14px;
    }
    .filter-container button{
       padding: 6px 10px;
       font-size: 12px;
    }
    .transactions-table{
        width: 100%;
    }
    .tableDiv{
        overflow: scroll;
    }
    .transactions-table{
      min-width: 700px;
    }
    .add-btn{
         width: 100%!important;
         padding-inline:20px!important
         
    }
    .download-btn{
      font-size: 12px;
    }
     .modal h2{
        font-size: 16px!important;
    }
}


@media screen and (max-width:1100px){
    .modal{
        width: 86vw;
    }
    .modal input{
        width: 70%;
    }
    .modal button{
        width: 70%;
    }
    .modal h2{
        font-size: 24px;
    }
    .cards{
        grid-template-columns: 1fr;
        width: 90vw;
    }
    .amount{
        font-size: 18px!important;
    }
    .card1 p{
        font-size: 14px;
        font-weight: 600;
    }
    .grapics{
        grid-template-columns: 1fr;
        width: 90vw;
    }
    .main{
        flex-direction: column;
        width: 90vw;
    }
    .stats-summary{
        width: 90vw;
        
    }
    .stats-summary p{
    
        font-size: 16px;
    }
    .filter-container button{
       padding: 6px 10px;
       font-size: 12px;
    }
    .transactions-table{
        width: 100%;
    }
    .tableDiv{
        overflow: scroll;
        width: 100%;
    }
    .transactions-table{
      min-width: 700px;
    }
    .add-btn{
         width: 50%!important;
         padding-inline:10px!important
         
    }
    .filters{
        width: 100%;
    }
    .download-btn{
      font-size: 12px;
    }
    
}